__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

.venv/
venv/
env/

.cache/
huggingface/
models/
checkpoints/

*.ckpt
*.pt
*.pth
*.bin
*.safetensors
*.onnx
*.engine

dataset/real/
dataset/lora/
dataset/hf_train/
dataset/captions/
data/
outputs/
synthetic_dataset/

*.png
*.jpg
*.jpeg
*.webp

logs/
runs/
wandb/
tensorboard/

.env
